<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reaction Test</title>
		<link rel="icon" type="image/png" href="" style="border-radius:1px;">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">		
	
    </head> 
	
	
    <body>
		<div id=cointainer > 
			<header>
				<nav id="navbar">
					<div>
					<a href="img-search.html" >Images </a> 
					<a href="adv.html"> Advance search </a>
					<a href="index.html "> <img src="img/g0.png" role="link" style="height : 25px"> </a>
					</div>
				</nav>
			</header>

{% block body %}
{% endblock %} 
					
			<footer> 
					<div id="footer">
						<a href="https://about.google/?utm_source=google-IN&amp;utm_medium=referral&amp;utm_campaign=hp-footer&amp;fg=1">About</a>
						<a href="https://www.google.com/intl/en_in/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpafooter&amp;fg=1">Advertising</a>
						<a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpbfooter&amp;fg=1">Business </a>
						<a href="https://google.com/search/howsearchworks/?fg=1 ">How Search works</a>
						<a href=" https://policies.google.com/privacy?hl=en-IN&amp;fg=1" class="right">Privacy </a>
						<a href=" https://policies.google.com/terms?hl=en-IN&amp;fg=1" class="right">Terms</a>
						<a href=" https://accounts.google.com/signin/v2/identifier" class="right" style="padding-right:0px; margin-right:0px;">Settings</a>
					</div>
			</footer>
		</div>
	</body>
</html>